@model About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<body>
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">

                        <div class="blog_info_left_grid">
                            <img src="@Model.AboutImage1" class="img-fluid" alt="Hakkında Resmi">
                        </div>
                        <h3>
                            Biz Kimiz & Misyonumuz & Vizyonumuz
                        </h3>
                            <p>@Model.AboutDetails1</p>
                    </div>
                    
                </div>
                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <h4>Mail Bültenine Abone Olun</h4>
                        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

                        @await Html.PartialAsync("~/Views/About/SocialMediaAbout.cshtml")

                        @await Component.InvokeAsync("WriterLastBlog")
                    </div>
                </aside>
            </div>
        </div>
    </section>
</body>

