<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>
        <li>
            <a class="twitter" href="https://twitter.com/BurakTemelkaya">
                <i class="fab fa-twitter"></i>
                <span class="count"></span> Twitter Hesabı
            </a>
        </li>
        <li>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=100011652821384">
                <i class="fab fa-facebook-f"></i>
                <span class="count"></span> Facebook Hesabı
            </a>
        </li>
    </ul>
</div>