@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<h1>Yazarın Blogları</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Blog Başlığı</th>
            <th scope="col">Oluşturma Tarihi</th>
            <th scope="col">Kategori</th>
            <th scope="col">Durum</th>
            <th scope="col">Sil</th>
            <th scope="col">Düzenle</th>
            <th scope="col">Durumunu Değiştir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.BlogID</th>
                <td>@item.BlogTitle</td>
                <td>@item.BlogCreateDate.ToShortDateString()</td>
                <td>@item.Category.CategoryName</td>
                <td>
                    @if (item.BlogStatus)
                    {
                        <span class="badge badge-success">Aktif</span>
                    }
                    else
                    {
                        <span class="badge badge-secondary">Pasif</span>
                    }
                </td>
                <td><a href="~/Blog/DeleteBlog/@item.BlogID" id="Sil_@item.BlogID" class="btn btn-danger"><i class="far fa-trash-alt">&nbsp;Sil</i></a></td>
                <td><a href="~/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Düzenle</a></td>
                <td>

                    @if (item.BlogStatus)
                    {
                        <a href="~/Blog/ChangeStatusBlog/@item.BlogID" id="Durum_@item.BlogID" class="btn btn-gradient-secondary">Pasif Yap</a>
                    }
                    else
                    {
                        <a href="~/Blog/ChangeStatusBlog/@item.BlogID" id="Durum_@item.BlogID" class="btn btn-gradient-success">Aktif Yap</a>
                    }

                </td>
                <script>
                                    $('#Sil_@item.BlogID').click(function (e) {
                                        e.preventDefault();
                                        var linkURL = $(this).attr("href");
                                        Swal.fire({
                                            title: 'UYARI!',
                                            text: "Blog yazısını silmek istediğinize emin misiniz?",
                                            icon: 'warning',
                                            showCancelButton: true,
                                            showCancelButton: true,
                                            confirmButtonColor: '#5CBA6C',
                                            cancelButtonColor: '#d33',
                                            confirmButtonText: 'Evet',
                                            cancelButtonText: 'Hayır'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = linkURL;
                                                Swal.fire(
                                                    'Başarılı!',
                                                    'Seçilen Blog Silindi .',
                                                    'success'
                                                )
                                            }
                                            else if (result.dismiss === Swal.DismissReason.cancel) {
                                            }
                                        })
                                    });

                    $('#Durum_@item.BlogID').click(function (e) {
                                        e.preventDefault();
                        var linkURL = $(this).attr("href");
                        var deger = document.getElementById("Durum_@item.BlogID").textContent;
                        var mesaj;
                        var onayMesaji;
                        if (deger == "Pasif Yap") {
                            mesaj = "Blog yazısını pasif yapmak istediğinize emin misiniz ?";
                            onayMesaji="Seçilen blog pasif yapıldı."
                        }
                        else if (deger) {
                            mesaj = "Blog yazısını aktif yapmak istediğinize emin misiniz ?";
                            onayMesaji="Seçilen blog aktif yapıldı."
                        }
                                        Swal.fire({
                                            title: 'UYARI!',
                                            text: mesaj,
                                            icon: 'warning',
                                            showCancelButton: true,
                                            showCancelButton: true,
                                            confirmButtonColor: '#5CBA6C',
                                            cancelButtonColor: '#d33',
                                            confirmButtonText: 'Evet',
                                            cancelButtonText: 'Hayır'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = linkURL;
                                                Swal.fire(
                                                    'Başarılı!',
                                                    onayMesaji,
                                                    'success'
                                                )
                                            }
                                            else if (result.dismiss === Swal.DismissReason.cancel) {
                                            }
                                        })
                                    });
                </script>
            </tr>
        }
    </tbody>
</table>
<a href="/Blog/BlogAdd" class="btn btn-primary">Yeni Blog Oluştur</a>
