<div class="tech-btm">
    <img src="/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <p>Teknoloji, Yazılım ve Diğer Bloglarımızdan İlk Sizin Haberiniz Olsun</p>
    <form action="/NewsLetter/SubscribeMail" method="post">
        <input type="email" placeholder="Email" name="Mail" required="">
        <input type="submit" value="Abone Ol">
    </form>
</div>