<div class="tech-btm">
    <img src="/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <p>Teknoloji, Yazılım ve Diğer Bloglarımızdan İlk Sizin Haberiniz Olsun</p>
    <input type="email" id="txtEmail" placeholder="Email" name="Mail" required="">
    <input type="submit" id="btnSubscribe" value="Abone Ol">
</div>
