@using EntityLayer.Concrete
@model List<Blog>
@if (Model.Count > 0)
{
    <div class="tech-btm">
        <h4>Yazarın Diğer Yazıları</h4>
        @foreach (var item in Model)
        {
            <div class="blog-grids row mb-3">
                <div class="col-md-5 blog-grid-left">
                    <a href="/Blog/BlogReadAll/@item.BlogID">
                        <img src="@item.BlogThumbnailImage" class="card-img-top img-fluid" alt="@item.BlogTitle">
                    </a>
                </div>
                <div class="col-md-7 blog-grid-right">

                    <h5>
                        <a href="/Blog/BlogReadAll/@item.BlogID">@item.BlogTitle </a>
                    </h5>
                    <div class="sub-meta">
                        <span>
                            <i class="far fa-clock"></i> @item.BlogCreateDate.ToString("dd.MM.yyyy")
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
}
