@model List<Blog>
@{
    string blogTitle = "";
}
@if (Model.Count > 0)
{   
    <div class="tech-btm">
        <h3>Yazarın Diğer Yazıları</h3>
        @foreach (var item in Model)
        {
            string seoTitle = ReplaceCharactersToEnglishCharacters.ReplaceCharacters(item.BlogTitle);
            blogTitle = item.BlogTitle;
            @if (blogTitle.Length > 50)
            {
                blogTitle = blogTitle.Substring(0, 50) + "...";
            }
            <div class="blog-grids row mb-3">
                <div class="col-md-5 blog-grid-left">
                    <a href="/Blog/BlogReadAll/@seoTitle/@item.BlogID">
                        <img src="@item.BlogThumbnailImage" class="card-img-top img-fluid" alt="@item.BlogTitle">
                    </a>
                </div>
                <div class="col-md-7 blog-grid-right">

                    <span>
                        <a href="/Blog/BlogReadAll/@seoTitle/@item.BlogID">@blogTitle</a>
                    </span>
                    <div class="sub-meta">
                        <span>
                            <i class="far fa-clock"></i> @item.BlogCreateDate.ToString("dd.MM.yyyy")
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
}
