
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<head>
    <title>İletişim Sayfası</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/CoreBlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema/css/contact.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>

<body>
    <!--/main-->
    <section class="main-content-w3layouts-agileits">

        <h3 class="tittle">Bizimle İletişime Geçin</h3>
        <p class="sub text-center">Düşünceleriniz bizim için değerli</p>
        <div class="contact-map inner-sec">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100949.24429313939!2d-122.44206553967531!3d37.75102885910819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472190196783"
                    class="map" style="border:0" allowfullscreen=""></iframe>
        </div>
        <div class="ad-inf-sec bg-light">
            <div class="container">
                <div class="address row">

                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Address</h6>
                                <p>
                                    California, USA

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Email</h6>
                                <p>
                                    Email :
                                    <a href="mailto:temelkayaburak@gmail.com"> temelkayaburak@gmail.com</a>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Phone</h6>
                                <a href="tel:905465000000">+5465123456</a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contact_grid_right">
                <form method="post">
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left">
                            <div class="form-group">
                                <label for="validationCustom01 my-2">Adınız</label>
                                <input class="form-control" type="text" name="ContactUserName" placeholder="Adınızı Yazınız" required="">
                                @Html.ValidationMessage("ContactUserName", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email</label>
                                <input class="form-control" type="email" name="ContactMail" placeholder="Email adresinizi yazınız" required="">
                                @Html.ValidationMessage("ContactMail", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="validationCustom03 my-2">Mesajın Konusu</label>
                                <input class="form-control" type="text" name="ContactSubject" placeholder="Mesajın Konusunu Yazınız" required="">
                                @Html.ValidationMessage("ContactSubject", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6 con-right">
                            <div class="form-group">
                                <label for="textarea">Mesajınız</label>
                                <textarea id="textarea" name="ContactMessage" placeholder="Mesajınızı Yazınız"></textarea>
                                @Html.ValidationMessage("ContactMessage", "", new { @class = "text-danger" })
                            </div>
                            <input class="form-control" type="submit" value="Gönder">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>


