
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<br />
<a class="btn btn-primary" href="/Admin/Blog/ExportStaticExcelBlogList">Excel Listesini İndir</a>
@*<script>
    function DownloadExcelBlogList() {
        window.open("/Admin/Blog/ExportStaticExcelBlogList")
    }
</script>*@

