
@{
    ViewData["Title"] = "Excel Listesini İndir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogTitleListExcel</h1>
<br />
<a class="btn btn-primary" href="/Admin/Blog/ExportDynamicExcelBlogList">Excel Listesini İndir</a>

