@{
    ViewData["Title"] = "Mesaj Tasklakları";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        @await Component.InvokeAsync("MessageFolders")
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                <h2>
                    Taslaklar
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">

                    <button type="button" class="btn btn-white btn-sm checkbox-toggle" id="select-all-checkbox" data-toggle="tooltip"
                            data-placement="left" title="Hepsini Seç">
                        <i class="checkbox-toggle fa fa-square-o"></i></>
                    </button>

                    <div class="btn-group float-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                    </div>

                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" onclick="GetDraftList()" title="Yenile"><i class="fa fa-refresh"></i> Yenile</button>

                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" id="btnDeleteDrafts" title="Çöp kutusuna taşı"><i class="fa fa-trash-o"></i> </button>

                </div>
            </div>
            <div class="mail-box">

            </div>
        </div>
    </div>
</div>
@section ScriptSection{
    <script src="~/js/admin-draft-box.js"></script>
}