@model Contact
@{
    ViewData["Title"] = "Read";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-lg-9 animated fadeInRight">
    <div class="mail-box-header">
        <h2>
            Mesajı Oku
        </h2>
        <div class="mail-tools tooltip-demo m-t-md">


            <h3>
                <span class="font-normal">Başlık: </span>@Model.ContactSubject
            </h3>
            <h5>
                <span class="float-right font-normal">@Model.ContactDate</span>
                <span class="font-normal">Mail: </span>@Model.ContactMail
            </h5>
        </div>
    </div>
    <div class="mail-box">


        <div class="mail-body">
            <p>
                @Model.ContactMessage
            </p>

        </div>
        <div class="mail-body text-right tooltip-demo">
            <a class="btn btn-sm btn-white" href="mailto:@Model.ContactMail"><i class="fa fa-reply"></i> Mail üzerinden yanıtla</a>
            <a class="btn btn-sm btn-white" href="/Admin/AdminContact/MarkUsUnread"><i class="fa fa-comments"></i> Okunmadı olarak işaretle</a>
            <button title="Sil" href="/Admin/AdminContact/Delete" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i>Sil</button>
        </div>
        <div class="clearfix"></div>


    </div>
</div>

