@model Contact
@{
    ViewData["Title"] = "Mesajı Oku";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-lg-9 animated fadeInRight">
    <div class="mail-box-header">
        <h2>
            Mesajı Oku
        </h2>
        <div class="mail-tools tooltip-demo m-t-md">


            <h3>
                <span class="font-normal">Başlık: </span>@Model.ContactSubject
            </h3>
            <h5>
                <span class="float-right font-normal"></span>@Model.ContactDate.ToShortDateString()
                <span class="font-normal"></span>@Model.ContactMail
            </h5>
        </div>
    </div>
    <div class="mail-box">


        <div class="mail-body">
            <p>
                @Model.ContactMessage
            </p>

        </div>
        <div class="mail-body text-right tooltip-demo">
            <a class="btn btn-sm btn-white" href="mailto:@Model.ContactMail"><i class="fa fa-reply"></i> E-mail göndererek yanıtla</a>
            <a class="btn btn-sm btn-white" href="/Admin/AdminContact/MarkUsUnread/@Model.ContactID"><i class="fa fa-comments"></i> Okunmadı olarak işaretle</a>
            <a title="Sil" href="/Admin/AdminContact/Delete/@Model.ContactID" id="Sil" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i>Sil</a>
        </div>
        <div class="clearfix"></div>


    </div>
</div>

@section ScriptSection{
    <script>
        $('#Sil').click(function (e) {
            e.preventDefault();
            var linkURL = $(this).attr("href");
            Swal.fire({
                title: 'UYARI!',
                text: "İletişim mesajını silmek istediğinize emin misiniz?",
                icon: 'warning',
                showCancelButton: true,
                showCancelButton: true,
                confirmButtonColor: '#5CBA6C',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet',
                cancelButtonText: 'Hayır'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = linkURL;
                }
            })
        });
    </script>
}

