<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m text-center">
                <h1 class="m-xs">Dashboard</h1>

                <h3 class="font-bold no-margins">
                    Asp.Net Core 5.0
                </h3>
                <h4>
                    Projemizin bu panelinde admin işlemleri bir Area yapısı üzerinden gerçekleşmektedir.
                    Sol tarafta yer alan sidebar yardım menüsünden ulaşıp takıldığınız
                    noktalarla ilgili destek alabilirsiniz
                </h4>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m text-center">
                <h1 class="m-xs">Son Blog</h1>
                <small class="m-xs">Başlığı</small>
                <br />
                <h3 class="font-bold m-xs">
                    @ViewBag.v1
                </h3>              
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellow-bg no-padding">
            <div class="p-m text-center">
                <h1 class="font-bold no-margins">Aktif Blog Sayısı</h1>
                <br />
                <h1 class="font-bold no-margins">
                    @ViewBag.v2
                </h1>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>