<h1>100. Ders</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Dashboard</h1>

                <h3 class="font-bold no-margins">
                    Asp.Net Core 5.0
                </h3>
                <small>Projemizin bu panelinde admin işlemleri bir Area yapısı üzerinden gerçekleşmektedir.
                Sol tarafta yer alan sidebar yardım menüsünden ulaşıp takıldığınız
                noktalarla ilgili destek alabilirsiniz </small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Blog</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.v1
                </h3>
                <small>Tüm Bloglar</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">

                <h3 class="font-bold no-margins">
                    Son Eklenen Blog
                </h3>
                <small></small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>