@model IEnumerable<Blog>
<div class="single-gd tech-btm">
    <h4>Son Eklenen Bloglar</h4>
    @foreach (var item in Model)
    {

        <div class="blog-grids">
            <div class="blog-grid-left">
                <a href="/Blog/BlogReadAll/@item.BlogID">
                    <img src="@item.BlogImage" class="img-fluid">
                </a>
            </div>
            <div class="blog-grid-right">

                <h5>
                    <a href="/Blog/BlogReadAll/@item.BlogID">@item.BlogTitle</a>
                </h5>
            </div>
            <div class="clearfix"> </div>
        </div>
    }
</div>
