<div class="comment-top">
    <div class="comment-bottom">
        <input class="form-control" type="text" id="CommentUserName" placeholder="Adınız Soyadınız" required="">

        <input class="form-control" type="text" id="CommentTitle" placeholder="Konu" required>

        <textarea class="form-control" id="CommentContent" placeholder="Mesajın..." required></textarea>
        <button type="submit" id="btnSendComment" class="btn btn-primary submit">Yorum Yap</button>
    </div>
</div>