<div class="comment-top">
    <h4>Bir Yorum Bırak</h4>
    <div class="comment-bottom">
        <form action="#" method="post">
            <input class="form-control" type="text" name="Name" placeholder="Ad" required="">
            <input class="form-control" type="email" name="Email" placeholder="Email" required="">

            <input class="form-control" type="text" name="Subject" placeholder="Başlık" required="">

            <textarea class="form-control" name="Message" placeholder="Mesajın..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Gönder</button>
        </form>
    </div>
</div>