@model List<Notification>
@{
    ViewData["Title"] = "Bildirimler";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
    string sure = "";
    DateTime now = DateTime.Now;
}

<h1>Bildirimler</h1>

<table class="table table-bordered col-10">
    <thead>
        <tr>
            <th class="col-1">#</th>
            <th class="col-8">Bildirim</th>
            <th class="col-3">Süre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            TimeSpan zaman = now.Subtract(item.NotificationDate);
            if (zaman.Days == 0)
            {
                sure = "Bugün";
            }
            else if (zaman.Days <= 10)
            {
                sure = new DateTime(zaman.Ticks).ToString("d 'Gün önce' ");
            }
            else
            {
                sure = item.NotificationDate.ToString("dd.MM.yyyy");
            }
            <tr>
                <td scope="row">@item.NotificationID</td>
                <td>@item.NotificationDetails</td>
                <td>@sure</td>
            </tr>
        }
    </tbody>
</table>