
<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" href="/Admin/AdminMessage/SendMessage">Mesaj Gönder</a>
                <div class="space-25"></div>
                <h5>Klasörler</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li><a href="/Admin/AdminMessage/Inbox">
                            <div id="messageFolderBadge">
                            </div>                        
                        </a>
                        </li>
                    <li><a href="/Admin/AdminMessage/SendBox"> <i class="fa fa-envelope-o"></i> Giden Mesajlar</a></li>
                    <li><a href="/Admin/AdminMessageDraft/Index">
                            <div id="messageFolderDraftBadge"></div>
                        </a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>