
<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" href="/Admin/AdminMessage/SendMessage">Mesaj Gönder</a>
                <div class="space-25"></div>
                <h5>Klasörler</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li><a href="/Admin/AdminMessage/Inbox"> <i class="fa fa-inbox "></i> Gelen Mesajlar <span class="label label-warning float-right">@ViewBag.ReceivedUnreadMessage</span> </a></li>
                    <li><a href="/Admin/AdminMessage/SendBox"> <i class="fa fa-envelope-o"></i> Giden Mesajlar</a></li>
                    <li><a href="/Admin/AdminMessageDraft/Index"> <i class="fa fa-file-text-o"></i> Taslaklar <span class="label label-danger float-right">@ViewBag.MessageDraftCount</span></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>