<li class="nav-item dropdown">
    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
        <i class="mdi mdi-email-outline"></i>
        <span class="bg-warning" id="messageNotificationSpan"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
        <h6 class="p-3 mb-0">Mesajlar</h6>
        <div id="MessageNotificationDiv">
        </div>
        <div class="dropdown-divider"></div>

        <div id="WriterMessageNotificationUnreadMessageInfoDiv">

        </div>

        <div class="dropdown-divider"></div>

        <a href="/Message/Inbox"><h6 class="p-3 mb-0 text-center">Tüm Mesajlarını Gör</h6></a>
    </div>
</li>
