@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Paneli</title>
    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/admin/css/animate.css" rel="stylesheet">
    <link href="~/admin/css/plugins/summernote/summernote-bs4.css" rel="stylesheet">    
    <link href="~/admin/css/style.css" rel="stylesheet">
    <link href="~/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="~/writer/assets/css/SweetAlert2.css" rel="stylesheet" />   
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="~/writer/assets/js/SweetAlert2.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

    <div id="wrapper">
        @await Component.InvokeAsync("Navbar")

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom">
                            <div class="form-group">
                                <input type="text" placeholder="Arama yap..." class="form-control" name="search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Admin Paneline Hoşgeldiniz</span>
                        </li>

                        @await Component.InvokeAsync("AdminDropdownMessage")

                        @await Component.InvokeAsync("AdminDropdownNotification")


                        <li>
                            <a href="/Login/Logout">
                                <i class="fa fa-sign-out"></i> Çıkış Yap
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                @RenderBody()
            </div>
            <div class="footer">
                <div>
                    <cache>
                        BirBlog <strong>Copyright</strong> Tüm Hakları Saklıdır 2021-@DateTime.Now.Year
                    </cache>
                </div>
            </div>

        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/admin/js/popper.min.js"></script>
    <script src="~/admin/js/bootstrap.js"></script>
    <script src="~/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Peity -->
    <script src="~/admin/js/plugins/peity/jquery.peity.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/admin/js/inspinia.js"></script>
    <script src="~/admin/js/plugins/pace/pace.min.js"></script>
    <!-- iCheck -->
    <script src="~/admin/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Peity -->
    <script src="~/admin/js/demo/peity-demo.js"></script>   
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/js/plugins/summernote/summernote-bs4.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
        $(document).ready(function () {
            $('#BlogContent').summernote({
                height: 300
            });
        });
        $(document).ready(function () {
            $('#Content').summernote({
                height: 300
            });
        });
        $(document).ready(function () {
            $('#BanMessage').summernote({
                height: 300
            });
        });
    </script>
    @*@await RenderSectionAsync("scripts")*@
</body>
</html>

