<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>
                    Blog, genellikle güncelden eskiye doğru sıralanmış yazı ve yorumların yayınlandığı, web tabanlı bir yayını belirtir. Çoğunlukla her gönderinin sonunda yazarın adı ve gönderi zamanı belirtilir.
                    Çoğunlukla her gönderinin sonunda yazarın adı ve gönderi zamanı belirtilir. Yayıncının seçimine göre okuyucular yazılara yorum yapılabilir. Yorumlar, blog kültürünün çok önemli bir dinamiğidir;
                </p>
                <div class="read">
                    <a href="/About/Index" class="btn btn-primary read-m">Devamını Oku</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                @await Component.InvokeAsync("BlogLast3Post")
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>Mail Bültenine Abone Olun</h2>
                @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMailFooter.cshtml")
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="https://www.facebook.com/profile.php?id=100011652821384" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="https://www.linkedin.com/in/buraktemelkaya/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                                <span>Linkedin</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="https://github.com/BurakTemelkaya" target="_blank">
                                <i class="fab fa-github"></i>
                                <span>Github</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="https://www.youtube.com/channel/UC250K8wIDdyJPI9o2L2hy8w" target="_blank">
                                <i class="fab fa-youtube"></i>
                                <span>Youtube</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © @DateTime.Now.Year Asp.Net Core 5.0 Proje Kampı. | Tüm Hakları Saklıdır
                </p>

            </div>
        </div>
        <!-- //footer -->
    </div>
</footer>
