@inject IHttpContextAccessor httpContextaccessor;
@{
    var thema = httpContextaccessor.HttpContext.Request.Cookies["thema"].ToString();
    bool check = thema == "dark";
}

<div class="header_top" id="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Blog/Index/">
                        Ana Sayfa
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About/Index">Hakkımızda</a>
                </li>               
                <li class="nav-item">
                    <a class="nav-link" href="/Contact/Index">İletişim</a>
                </li>
                @if (User.IsInRole(role: "Yazar"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Dashboard">Yazar Paneli</a>
                    </li>
                }
                @if (User.IsInRole(role: "Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Widget/Index">Admin Paneli</a>
                    </li>
                }
                <li class="nav-item">
                    <input type="checkbox" class="thema-toggle-checkbox" id="thema-toggle" onclick="SetThema()" checked="@check">
                    <label for="thema-toggle" class="thema-toggle-checkbox-label">
                        <i class="fas fa-moon w-10"></i>
                        <i class="fas fa-sun"></i>
                        <span class="ball"></span>
                    </label>
                </li>
                
            </ul>
            <div class="form-inline my-2 my-lg-0 header-search">
                <input class="form-control mr-sm-2" type="search" placeholder="Blog Ara.." id="txt-search" required>
                <button class="btn btn1 my-2 my-sm-0" id="search-btn" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </nav>
</div>