
<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">

    @if (User.Identity.Name == null)
    {
        <span class="welcome-text">Sitemize Hoşgeldin!</span>
        <span class="mx-lg-4 mx-md-2  mx-1">
            <a href="/Login/Index/" class="auth-link">
                <i class="fas fa-lock"></i> Giriş Yap
            </a>
        </span>
        <span>
            <a href="/Register/Index/" class="auth-link">
                <i class="far fa-user"></i> Kayıt Ol
            </a>
        </span>
    }
    else
    {
        <span class="welcome-text">Tekrar Hoşgeldin @User.Identity.Name</span>
        <span class="mx-lg-4 mx-md-2  mx-1">
            <a href="/Login/LogOut/" class="auth-link">
                <i class="far fa-user"></i> Çıkış Yap
            </a>
        </span>
    }

</div>
