<footer>
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("AboutComponentByFooter")
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                @await Component.InvokeAsync("BlogLastPostByFooter")
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>Mail Bültenine Abone Olun</h2>
                @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMailFooter.cshtml")
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="https://www.facebook.com/profile.php?id=100011652821384" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="https://www.linkedin.com/in/buraktemelkaya/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                                <span>Linkedin</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="https://github.com/BurakTemelkaya" target="_blank">
                                <i class="fab fa-github"></i>
                                <span>Github</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="https://www.youtube.com/channel/UC250K8wIDdyJPI9o2L2hy8w" target="_blank">
                                <i class="fab fa-youtube"></i>
                                <span>Youtube</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © @DateTime.Now.Year Asp.Net Core 5.0 Proje Kampı. | Tüm Hakları Saklıdır
                </p>

            </div>
        </div>
        <!-- //footer -->
    </div>
</footer>
