@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@ViewData["Title"] - Bir Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Weblog Blog Web Site" />
    <script>
        const { error } = require("jquery");

        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <link href="~/comment-star/dist/style.css" rel="stylesheet" />
    <link href="~/CoreBlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema/css/single.css" rel="stylesheet">
    <link href="~/CoreBlogTema/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <link href="~/admin/css/plugins/summernote/summernote-bs4.css" rel="stylesheet">
</head>

<body>
    <!--Header-->

    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">
                <div class="col-md-4 logo text-left">
                    <a class="navbar-brand" href="/Blog/Index">
                        <i class="fab fa-linode"></i> Core 5.0 Blog
                    </a>
                </div>
                @await Html.PartialAsync("Partial2")
                <div class="col-md-4 log-icons text-right">

                    <ul class="social_list1 mt-3">

                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100011652821384" class="facebook1 mx-2">
                                <i class="fab fa-facebook-f"></i>

                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter2">
                                <i class="fab fa-twitter"></i>

                            </a>
                        </li>
                        <li>
                            <a href="#" class="dribble3 mx-2">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pin">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("Partial1")
    </header>
    <!--/main-->
    @RenderBody()
    <!--//main-->
    <!--footer-->
    @await Html.PartialAsync("Partial3")

    <!---->
    <!-- js -->
    <script src="~/admin/js/jquery-3.1.1.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="~/CoreBlogTema/js/move-top.js"></script>
    <script src="~/CoreBlogTema/js/easing.js"></script>
    <script></script>
    <!--// end-smoth-scrolling -->

    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="~/admin/js/bootstrap.js"></script>
    <script src="~/admin/js/plugins/summernote/summernote-bs4.js"></script>
    <script src="~/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $("#btnSubscribe").click(function () {
            let mail = {
                Mail: $("#txtEmail").val()
            };
            $.ajax({
                type: "post",
                url: "/NewsLetter/SubscribeMail",
                data: mail,
                success: function (func) {
                    alert("Mail bültenimize abone oldunuz, teşekkürler.");
                },
                error: function (func) {
                    if (mail.Mail == "") {
                        alert("Lütfen mail alanını boş bırakmayınız.");
                    }
                    else {
                        alert("Girdiğiniz mail adresinin bültenimize aboneliği bulunmaktadır.");
                    }
                }
            });
        });
        $("#btnFooterSubscribe").click(function () {
            let mail = {
                Mail: $("#txtFooterEmail").val()
            };
            $.ajax({
                type: "post",
                url: "/NewsLetter/SubscribeMail",
                data: mail,
                success: function (func) {
                    alert("Mail bültenimize abone oldunuz, teşekkürler.");
                },
                error: function (func) {
                    if (mail.Mail == "") {
                        alert("Lütfen mail alanını boş bırakmayınız.");
                    }
                    else {
                        alert("Girdiğiniz mail adresinin bültenimize aboneliği bulunmaktadır.");
                    }
                }
            });
        });
        $("#btnSendComment").click(function () {
            let BlogScore = 0;
            if (document.getElementById("5-star-rating").checked == true) {
                BlogScore = 5;
            }
            else if (document.getElementById("4-star-rating").checked == true) {
                BlogScore = 4;
            }
            else if (document.getElementById("3-star-rating").checked == true) {
                BlogScore = 3;
            }
            else if (document.getElementById("2-star-rating").checked == true) {
                BlogScore = 2;
            }
            else if (document.getElementById("1-star-rating").checked == true) {
                BlogScore = 1;
            }
            let Comment = {
                BlogId: $("#blogId").val(),
                CommentUserName: $("#CommentUserName").val(),
                CommentTitle: $("#CommentTitle").val(),
                CommentContent: $("#CommentContent").val(),
                BlogScore: BlogScore
            };
            $.ajax({
                type: "post",
                url: "/Comment/PartialAddComment",
                data: Comment,
                success: function (func) {
                    alert("Yorumunuz başarıyla gönderildi teşekkürler..");
                },
                error: function (func) {
                    if (Comment.CommentUserName == "") {
                        alert("Lütfen isim alanını boş bırakmayınız.");
                    }
                    else if (Comment.CommentContent == "") {
                        alert("Lütfen içerik alanını boş bırakmayınız.")
                    }
                    else if (Comment.CommentTitle == "") {
                        alert("Lütfen başlık alanını boş bırakmayınız.");
                    }
                    else {
                        alert("Bir hata oluştu lütfen daha sonra tekrar deneyiniz.");
                    }
                }
            });
        });
    </script>

</body>
</html>
