@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextaccessor;
@{
    Layout = null;
    var thema = "";
    if (httpContextaccessor.HttpContext.Request.Cookies["thema"]!=null)
    {
        thema = httpContextaccessor.HttpContext.Request.Cookies["thema"].ToString();
    }    
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@ViewData["Title"] - Core Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <meta name="rating" content="general" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Sitemizde güncel teknolojiler ile ilgili bloglar bulabilirsiniz.." />
    <meta name="Copyright" content="© Copyright 2023 Core Blog. Tüm Hakları Saklıdır." />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:title" content="Core Blog - Güncel Teknoloji Blogları" />
    <meta property="og:site_name" content="Core Blog" />
    <meta property="og:image" content="https://coreblogsite.azurewebsites.net/writer/assets/images/favicon.ico" />
    <meta property="og:url" content="https://coreblogsite.azurewebsites.net/" />
    <meta property="og:type" content="website" />
    <meta name="language" content="Turkish" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Core Blog" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/CoreBlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
    @if (thema == "dark")
    {
        <link href="~/coreblogtema/css/single-dark.css" rel="stylesheet"/>
        <link href="~/coreblogtema/css/style-dark.css" rel="stylesheet" />
        <link href="~/writer/assets/css/SweetAlert2-dark.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/coreblogtema/css/single-light.css" rel="stylesheet" />
        <link href="~/coreblogtema/css/style-light.css" rel="stylesheet" />
        <link href="~/writer/assets/css/SweetAlert2.css" rel="stylesheet" />      
    }
    <link rel="shortcut icon" href="~/writer/assets/images/favicon.ico" />
    <link href="~/CoreBlogTema/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="~/coreblogtema/css/thema-toggle.css" rel="stylesheet" />
    
    @RenderSection("HeaderSection",false)
</head>

<body>
    <!--Header-->

    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">
                <div class="col-md-4 logo text-left">
                    <a class="navbar-brand" href="/Blog/Index">
                        <i class="fab fa-linode"></i> Core 5.0 Blog
                    </a>
                </div>
                @await Html.PartialAsync("Partial2")
                <div class="col-md-4 log-icons text-right">

                    <ul class="social_list1 mt-3">

                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100011652821384" target="_blank" class="facebook1 mx-2">
                                <i class="fab fa-facebook-f"></i>

                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/buraktemelkaya/" target="_blank" class="twitter2 mx-2">
                                <i class="fab fa-linkedin"></i>

                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/BurakTemelkaya" target="_blank" class="github mx-2">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC250K8wIDdyJPI9o2L2hy8w" target="_blank" class="pin mx-2">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </header>

    <div style="position: sticky; top: 0; z-index:999;">
        @await Html.PartialAsync("Partial1")
    </div>

    @RenderBody()

    @await Html.PartialAsync("Partial3")
    <script src="~/admin/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/cookie.js"></script>
    <script src="~/CoreBlogTema/js/move-top.js"></script>
    <script src="~/CoreBlogTema/js/easing.js"></script>
    <script>
        jQuery(document).ready(function () {

            var defaults = {
                containerID: 'toTop',
                containerHoverID: 'toTopHover',
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
    <script src="~/admin/js/bootstrap.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="~/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/newsletter-subscribe.js"></script>
    <script src="~/js/blog-search.js"></script>
    @if (thema == "dark")
    {
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', (event) => {
                const recaptcha = document.querySelector('.g-recaptcha');
                recaptcha.setAttribute("data-theme", "dark");
            });
        </script>
        <script src="~/writer/assets/js/SweetAlert2-dark.js"></script>
    }
    else{
        <script src="~/writer/assets/js/SweetAlert2.js"></script>
    }

    @RenderSection("ScriptSection",false)
</body>
</html>
