@using FluentValidation
@inject IHttpContextAccessor httpContextaccessor;
@{
    Layout = null;
    var validationExceptions = httpContextaccessor.HttpContext.Items["ValidationException"] as List<ValidationException>;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Hata</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <!-- //Meta tag Keywords -->
    <!--/Style-CSS -->
    <link rel="stylesheet" href="~/weberror/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="~/weberror/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
</head>

<body>
    <section class="w3l-error-61-404">
        <!-- /error-61-section -->
        <div class="error-61-mian">
            <div class="wrapper">
                <div class="errors-16-top">
                    <div class="errors-16-info">
                        @if (validationExceptions != null && validationExceptions.Any())
                        {
                            <p>Bir Hata Oluştu</p>
                            <ul style="margin-top:"15px">
                                @foreach (var exception in validationExceptions)
                                {
                                    <li>@exception.Message</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <h3>404 </h3>
                            <p>Oops! Sayfa Bulunamadı!</p>
                        }

                        <form action="#" method="post" class="d-flex error-page-form">
                            <input type="search" placeholder="Aradığınız Kelime..." required="required">
                            <button type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
                        </form>
                        <div class="social-coming-icons">
                            <a href="#" title="Facebook" class="footer-fb">
                                <span class="fa fa-facebook"
                                      aria-hidden="true"></span>
                            </a>
                            <a href="#" title="Twitter" class="footer-tw">
                                <span class="fa fa-twitter"
                                      aria-hidden="true"></span>
                            </a>
                            <a href="#" title="Google Plus" class="footer-gg">
                                <span class="fa fa-google-plus"
                                      aria-hidden="true"></span>
                            </a>
                            <a href="#" title="Linkedin" class="footer-lin">
                                <span class="fa fa-linkedin"
                                      aria-hidden="true"></span>
                            </a>
                        </div>

                    </div>
                    <div class="copyright-footer">
                        <div class="copy-right">
                            <p>
                                © <cache>@DateTime.Now.Year</cache> Asp.Net Core 5.0 Proje Kampı. Tüm Hakları Saklıdır
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
