
@{
    Layout = null;
} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erişim Reddedildi - 403 - AspNetCore Blog</title>
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400i" />
    <link href="\403forbidden\dist\style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <meta property="og:title" content="Core Blog - Erişim Reddedildi." />
    <meta name="robots" content="nofollow" />
</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">
        <div class="box">
            <h1>403</h1>
            <p>Oooopss, bu sayfaya erişim izniniz yoktur!</p>
            <p><a href="/Dashboard">Lütfen , geri dönün :/.</a></p>
        </div>
    </div>
    <!-- partial -->

</body>
</html>



