@model UserSignInViewModel
@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@section HeaderSection{
    <meta property="og:title" content="Core Blog - Giriş Yap" />
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Giriş Yap</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100 text-center">
                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1 mb-2">Kullanıcı Adınız</label>
                        <input type="text" class="form-control" asp-for="UserName" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Kullanıcı adınızı Giriniz" required="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1 mb-2">Parola</label>
                        <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Parolanızı Giriniz" required="">
                    </div>
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" asp-for="IsPersistent" for="exampleCheck1">Oturumu açık bırak</label>
                    </div>
                    <div class="form-group">
                        <cache><div class="g-recaptcha" data-sitekey="@ViewBag.SiteKey"></div></cache>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <p class="text-danger">@TempData["ErrorMessage"]</p>
                    <p><a href="/Register/Index"> Bir Hesabın Yok Mu?</a></p>
                    <p><a href="/ForgotPassword/Index"> Parolamı Unuttum</a></p>
                </form>
            </div>
        </div>

    </div>
</section>