<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Tüm Hakları Saklıdır | @DateTime.Now.Year </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <a href="https://www.youtube.com/watch?v=WhTr7pdjjVM&list=PLKnjBHu2xXNNkinaVhPqPZG0ubaLN63ci&index=51" target="_blank">Core 5.0 Proje Kampı </a></span>
    </div>
</footer>
