<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        @await Component.InvokeAsync("WriterNavbarProfile")
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard">
                <span class="menu-title">Gösterge Paneli</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterEditProfile">
                <span class="menu-title">Profilim</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#blog" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Blog</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-blogger menu-icon"></i>
            </a>
            <div class="collapse" id="blog">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link mdi mdi-blogger menu-icon" href="/Blog/BlogListByWriter">Bloglarım</a></li>
                    <li class="nav-item"> <a class="nav-link mdi mdi-blogger menu-icon" href="/Blog/BlogAdd">Yeni Blog</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#message" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Mesajlar</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
            <div class="collapse" id="message">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Message/Inbox">Gelen Kutusu</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Message/SendBox">Giden Kutusu</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/MessageDraft/Index">Taslaklar</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Notification/AllNotification">
                <span class="menu-title">Bildirimler</span>
                <i class="mdi mdi-notification-clear-all menu-icon"></i>
            </a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Widget" target="_blank">
                    <span class="menu-title">Admin Paneline Git</span>
                    <i class="mdi mdi-account-star menu-icon"></i>
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" href="/Blog" target="_blank">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-sitemap menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/Logout">
                <span class="menu-title">Çıkış Yap</span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>