@model List<Message>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@section HeaderSection{

}

<h1> Gelen Kutusu </h1>
<br />


<div class="m-t-md">
    <button type="button" class="btn btn-white btn-sm checkbox-toggle" id="select-all-checkbox" data-toggle="tooltip"
            data-placement="left" title="Hepsini Seç">
        <i class="mdi mdi-checkbox-blank-outline"></i>
    </button>

    <button class="btn btn-white btn-sm" data-toggle="tooltip" id="btnRefresh" onclick="GetMessageList()" data-placement="left" title="Yenile">
        <i class="mdi mdi-refresh"></i>
    </button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" id="btnReadMessages" data-placement="top" title="Okundu Olarak İşaretle"><i class="fa fa-eye"></i> </button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" id="btnUnreadMessages" data-placement="top" title="Okunmadı Olarak İşaretle"><i class="fa fa-eye-slash"></i> </button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" id="btnDeleteMessages" data-placement="top" title="Çöp kutusuna taşı"><i class="fa fa-trash"></i> </button>

</div>

<div id="mail-box">
</div>

<br />
<a href="/Message/SendMessage/" class="btn btn-primary">Yeni Mesaj Oluştur</a>
@section ScriptSection{
    <script src="~/js/writer-inbox.js"></script>
    <script>
        GetMessageList();
    </script>
}

