@model List<Message>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<table class="table table-responsive">
    <thead>
        <tr>
            <th scope="row">#</th>
            <th>Konu</th>
            <th>Gönderen</th>
            <th>İçerik</th>
            <th>Tarih</th>
            <th>Mesajı Aç</th>
            <th>Okundu/Okunmadı Olarak İşaretle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    <div class="form-check form-check-flat form-check-primary">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"> </label>
                      </div>
                </td>
                <td>@item.Subject</td>
                <td>@item.SenderUser.NameSurname</td>
                <td>@item.Details...</td>
                <td>@item.MessageDate</td>
                <td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-primary">Mesajı Aç</a></td>
                <td>

                    <a href="/Message/MarkUsUnreadInbox/@item.MessageID" class="btn btn-gradient-dark">
                        @if (item.MessageStatus)
                        {
                            <p>Okundu olarak işaretle</p>
                        }
                        else
                        {
                            <p>Okunmadı olarak işaretle</p>
                        }
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
<a href="/Message/SendMessage/" class="btn btn-primary">Yeni Mesaj Oluştur</a>

