@model List<Message>
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<h1>Gönderilmiş Mesajlar</h1>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th scope="row">#</th>
            <th>Konu</th>
            <th>Alıcı</th>
            <th>Tarih</th>
            <th>Mesajı Aç</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td scope="row">@item.MessageID</td>
            <td>@item.Subject</td>
            <td>@item.ReceiverUser.NameSurname</td>
            <td>@item.MessageDate</td>
            <td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-primary">Mesajı Aç</a></td>
        </tr>
        }

    </tbody>
</table>
<a href="/Message/SendMessage/" class="btn btn-primary">Yeni Mesaj Oluştur</a>

