@model ResetPasswordDto
@{
    ViewData["Title"] = "Parolanı değiştir";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="text-center">Parolanı Sıfırla</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1 mb-2">Yeni Parola</label>
                        <input type="Password" class="form-control" asp-for="Password" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Yeni Parolanızı Giriniz" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1 mb-2">Yeni Parolanı Onayla</label>
                        <input type="Password" class="form-control" asp-for="PasswordConfirm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Yeni Parolanızı Tekrar Giriniz" required>
                    </div>
                    <div class="form-group">
                        <cache><div class="g-recaptcha" data-sitekey="@ViewBag.SiteKey"></div></cache>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Parolanı Sıfırla</button>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <p class="text-danger">@TempData["ErrorMessage"]</p>
                </form>
            </div>
        </div>

    </div>
</section>

