@model About

<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
    <h3>Hakkımızda</h3>
    <p>
        @Model.AboutDetails1
    </p>
    <div class="read">
        <a href="/About/Index" class="btn btn-primary read-m">Devamını Oku</a>
    </div>
</div>