@model List<CategoryBlogandBlogCountDto>;
<div class="container tech-btm text-center justify-content-center">
    <h2 class="mb-3">Kategoriler</h2>
    <ul class="list-group single">
        @foreach (var item in Model)
        {
            <li class="list-group-item justify-content-center col-6 mx-auto" title="@item.CategoryDescription">
                <a class="categoryLink" href="/Blog/Index/?id=@item.CategoryID" name="@item.CategoryID">
                    @item.CategoryName
                    <span class="badge badge-primary badge-pill">@item.NumberofBloginCategory</span>
                </a>
            </li>
        }
    </ul>
</div>