@model List<Message>
@{
    ViewData["Title"] = "Giden Kutusu";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        @await Component.InvokeAsync("MessageFolders")
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <form method="get" class="float-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" name="search" placeholder="Mail ara">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Ara
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                    Giden Kutusu
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group float-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Yenile"><i class="fa fa-refresh"></i> Yenile</button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Okundu Olarak İşaretle"><i class="fa fa-eye"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Önemli Olarak İşaretle"><i class="fa fa-exclamation"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Çöp kutusuna taşı"><i class="fa fa-trash-o"></i> </button>

                </div>
            </div>
            <div class="mail-box">

                <table class="table table-hover table-mail">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="read">
                                <td class="mail-contact"><a href="/Admin/AdminMessage/Read/@item.MessageID">@item.ReceiverUser.NameSurname</a></td>
                                <td class="mail-subject"><a href="/Admin/AdminMessage/Read/@item.MessageID">@item.Subject - @item.Details</a></td>
                                <td class="text-right mail-date">@item.MessageDate.ToString("dd.MM.yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

