article span {
    color: #bdb89f !important;
}

article ul {
    color: #c8c3ac !important;
}

article table, th, td {
    border-color: #766e61 !important;
    color: #d1cdc7 !important;
}

article pre {
    background-color: #1f2223 !important;
}

article li {
    color: #cec7b8 !important;
}

article code {
    background-color: #1f2223 !important;
}

article em {
    color: #babeb5 !important;
}
