@model List<MessageDraft>
@{
    ViewData["Title"] = "Mesaj Tasklakları";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Mesaj Tasklakları</h1>
<br />

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th class="col-2">Konu</th>
            <th class="col-3">İçerik</th>
            <th class="col-2">Alıcı</th>
            <th class="col-2">Taslağı Aç</th>
            <th class="col-2">Mesaj Gönder</th>
            <th class="col-1">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.MessageDraftID</td>
                <td>@item.Subject</td>
                <td>@item.Details ...</td>
                <td>@item.ReceiverUser</td>
                <td><a href="/MessageDraft/EditMessageDraft/@item.MessageDraftID" class="btn btn-primary">Taslağı Düzenle</a></td>
                <td><a href="/Message/SendMessage/@item.MessageDraftID" class="btn btn-success">Mesaj Gönder</a></td>
                <td><a href="/MessageDraft/DeleteMessageDraft/@item.MessageDraftID" class="btn btn-danger">Sil</a></td>
            </tr>
        }

    </tbody>
</table>
<br />
<a href="/MessageDraft/AddMessageDraft/" class="btn btn-primary">Yeni Taslak Oluştur</a>

