@model EmailErrorsModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<div class="container my-5 mb-5">
    <h1>Mail Doğrulama Sayfası</h1>
    <br />
    <h2 class="text-danger font-bold">@Model.IdentityError</h2>
    <br />
    <h3>Tekrar doğrulama maili almak için tıkla</h3>
    <br />
    <a class="btn btn-primary" href="/Register/ReSendConfirmationMail">Tekrar Doğrula</a>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>


