<?xml version="1.0" encoding="utf-8" ?>

<!--Projede oluşan bütün hatalar product'a çıktığında loglandığı için ve log4net Entityframework'e veya herhangi bir ORM'e bağımlı olmaması için
connection stringi burada veriyoruz.
Bu sayede log4net kendi başına veritabanına ve dosyaya loglama işlemini gerçekleştiriyor.-->

<log4net>
	<appender name="JsonFileLogger" type="log4net.Appender.FileAppender,log4net">
		<file value="@/wwwroot/Log/log.json"/>
		<layout type="CoreLayer.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayouts, CoreLayer" ></layout>
	</appender>
	<appender name="DatabaseLogger" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
		<bufferSize value="1" />

		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

		<connectionString value="" />
		<!--
		Burada sadece SQL Server connection stringini verebilirsiniz.
		SQL server dışında bir veritabanı kullanacaksınız connectionType kısmındaki kütüphaneyi buna göre değiştirmelisiniz.
		Buna bağlı olarakta Logs adında halihazırda bir tablo olmalı veya oluşturulmalı.
		-->

		<commandText value="INSERT INTO dbo.Logs ([Details],[Log_Date],[Audit]) VALUES (@logDetails,@log_date,@audit)" />
		<parameter>
			<parameterName value="@logDetails" />
			<dbType value="String" />
			<size value="5000" />
			<layout type="CoreLayer.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayouts, CoreLayer" />
		</parameter>
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
		</parameter>
		<parameter>
			<parameterName value="@audit" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout" value="%level" />
		</parameter>
	</appender>

	<logger name="JsonFileLogger">
		<level value="ALL"></level>
		<appender-ref ref="JsonFileLogger"/>
	</logger>

	<logger name="DatabaseLogger">
		<level value="ALL"></level>
		<appender-ref ref="DatabaseLogger"/>
	</logger>
</log4net>