@model BannedUserModel
@{
    ViewData["Title"] = "BannedUser";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id" placeholder="Blog Adı" class="form-control">
    <div class="col-lg-12">
        <h1>Kullanıcı Yasakla</h1>
        <h3>Kullanıcı Adı: @Model.UserName</h3>
        <h3>Mail: @Model.Email</h3>
        <h3>Yasak Bitiş Tarihi</h3>
        <input type="datetime-local" value="@DateTime.Now.AddDays(30).ToLongDateString()" asp-for="BanExpirationTime" placeholder="Yasağın Biteceği Tarih" class="form-control" required>
    </div>
    <br />
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Kullanıcıyı Bilgilendirme Mesajı (Verilmezse Otomatik Mesaj Gönderilir)</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content no-padding">
                <textarea asp-for="BanMessage" id="BanMessage"></textarea>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-12 mb-3">
        <button class="btn btn-danger">Kullanıcıyı Siteden Belirtilen Tarihe Kadar Yasakla</button>
        <a href="/Admin/AdminUser/BannedUserDay/@Model.Id?date=300000" class="btn btn-danger ml-2">Kullanıcıyı Siteden Kalıcı Yasakla</a>
        <a href="/Admin/AdminUser/BannedUserDay/@Model.Id?date=30" class="btn btn-danger ml-2">Kullanıcıyı Siteden 30 Gün Yasakla</a>
        <a href="/Admin/AdminUser/BannedUserDay/@Model.Id?date=7" class="btn btn-danger ml-2">Kullanıcıyı Siteden 7 Gün Yasakla</a>
        <a href="/Admin/AdminUser/BannedUserDay/@Model.Id?date=1" class="btn btn-danger ml-2">Kullanıcıyı Siteden 1 Gün Yasakla</a>
    </div>
    <div asp-validation-summary="All"></div>
</form>

